---
swagger: "2.0"
# Info about this API specification.
info:
  description: "A Moodle Connector for Azure Logic Apps."
  version: "1.0.0"
  title: "Moodle Connector"
  contact:
    email: "enquiries@catalyst-au.net"
  license:
    name: "GPL 3.0"
    url: "https://www.gnu.org/licenses/gpl-3.0.en.html"

host: university.catalyst-au.net # This will need to be changed
basePath: /webservice/restful/server.php
schemes:
- https

# API information.
paths:
  /core_course_get_courses:
    post:
      summary: "Get Moodle Courses"
      description: "Get courses in Moodle instance via webservice functions. Can filter by course ID."
      operationId: "core_course_get_courses"
      parameters:
      - name: Content-Type
        in: header
        required: true
        type: string
      - name: Accept
        in: header
        required: true
        type: string
      - name: body
        in: body
        description: "The ids of the courses to return"
        required: false
        schema:
          type: object
          properties:
            options:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int32
                  description: ids
                  x-ms-summary: ids
              description: options
              x-ms-summary: options
      consumes:
      - application/json
      - application/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: "OK"
        400:
          description: "Bad Request"
  /core_enrol_get_users_courses:
    post:
      summary: "Get user courses"
      description: "Get the courses a user is enrolled in."
      operationId: "core_enrol_get_users_courses"
      parameters:
      - name: Content-Type
        in: header
        required: true
        type: string
      - name: Accept
        in: header
        required: true
        type: string
      - name: body
        in: body
        description: "The id of the user to get courses for"
        required: true
        schema:
          type: object
          properties:
            userid:
              type: integer
              format: int32,
              description: userid
              x-ms-summary: userid
      consumes:
      - application/json
      - application/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: "OK"
        400:
          description: "Bad Request"
  /core_user_create_users:
    post:
      summary: "Create Moodle users"
      description: "Create new users in Moodle."
      operationId: "core_user_create_users"
      parameters:
      - name: Content-Type
        in: header
        required: true
        type: string
      - name: Accept
        in: header
        required: true
        type: string
      - name: body
        in: body
        description: "The user objects to create"
        required: true
        schema:
          type: object
          properties:
            users:
              description: users
              x-ms-summary: users
              type: array
              items:
                type: object
                properties:
                  username:
                    type: string
                    description: username
                    x-ms-summary: username
                  password:
                    type: string
                    description: password
                    x-ms-summary: password
                  createpassword: 
                        type: integer
                        description: createpassword
                        x-ms-summary: createpassword
                  firstname:
                        type: string
                        description: firstname
                        x-ms-summary: firstname
                  lastname:
                        type: string
                        description: lastname
                        x-ms-summary: lastname
                  email:
                        type: string
                        description: email
                        x-ms-summary: email
                  auth:
                        type: string
                        description: auth
                        x-ms-summary: auth
                  idnumber:
                        type: string
                        description: idnumber
                        x-ms-summary: idnumber
                  lang:
                        type: string
                        description: lang
                        x-ms-summary: lang
                  calendartype: 
                        type: string
                        description: calendartype
                        x-ms-summary: calendartype
                  theme:
                        type: string
                        description: theme
                        x-ms-summary: theme
                  timezone:
                        type: string
                        description: timezone
                        x-ms-summary: timezone
                  mailformat:
                        type: integer
                        description: mailformat
                        x-ms-summary: mailformat
                  description:
                        type: string
                        description: description
                        x-ms-summary: description
                  city: 
                        type: string
                        description: city
                        x-ms-summary: city
                  country:
                        type: string
                        description: country
                        x-ms-summary: country
                  firstnamephonetic:
                        type: string
                        description: firstnamephonetic
                        x-ms-summary: firstnamephonetic
                  lastnamephonetic:
                        type: string
                        description: lastnamephonetic
                        x-ms-summary: lastnamephonetic
                  middlename:
                        type: string
                        description: middlename
                        x-ms-summary: middlename
                  alternatename:
                        type: string
                        description: alternatename
                        x-ms-summary: alternatename
                  customfields:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: type
                          x-ms-summary: type
                        value:
                          type: string
                          description: value
                          x-ms-summary: value

      consumes:
      - application/json
      - application/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: "OK"
        400:
          description: "Bad Request"
  /core_user_delete_users:
    post:
      summary: "Delete users"
      description: "Delete Moodle user accounts."
      operationId: "core_user_delete_users"
      parameters:
      - name: Content-Type
        in: header
        required: true
        type: string
      - name: Accept
        in: header
        required: true
        type: string
      - name: body
        in: body
        description: "The ids of the users to delete"
        required: true
        schema:
          type: object
          properties:
            userids:
              type: array
              description: userids
              x-ms-summary: userids
              items:
                type: integer
      consumes:
      - application/json
      - application/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: "OK"
        400:
          description: "Bad Request"
  /core_user_update_users:
    post:
      summary: "Update Moodle users"
      description: "Update users in Moodle."
      operationId: "core_user_update_users"
      parameters:
      - name: Content-Type
        in: header
        required: true
        type: string
      - name: Accept
        in: header
        required: true
        type: string
      - name: body
        in: body
        description: "The user objects to update"
        required: true
        schema:
          type: object
          properties:
            users:
              description: users
              x-ms-summary: users
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: id
                    x-ms-summary: id
                  username:
                    type: string
                    description: username
                    x-ms-summary: username
                  password:
                    type: string
                    description: password
                    x-ms-summary: password
                  firstname:
                        type: string
                        description: firstname
                        x-ms-summary: firstname
                  lastname:
                        type: string
                        description: lastname
                        x-ms-summary: lastname
                  email:
                        type: string
                        description: email
                        x-ms-summary: email
                  auth:
                        type: string
                        description: auth
                        x-ms-summary: auth
                  suspended:
                        type: integer
                        description: suspended
                        x-ms-summary: suspended
                  idnumber:
                        type: string
                        description: idnumber
                        x-ms-summary: idnumber
                  lang:
                        type: string
                        description: lang
                        x-ms-summary: lang
                  calendartype: 
                        type: string
                        description: calendartype
                        x-ms-summary: calendartype
                  theme:
                        type: string
                        description: theme
                        x-ms-summary: theme
                  timezone:
                        type: string
                        description: timezone
                        x-ms-summary: timezone
                  mailformat:
                        type: integer
                        description: mailformat
                        x-ms-summary: mailformat
                  description:
                        type: string
                        description: description
                        x-ms-summary: description
                  city: 
                        type: string
                        description: city
                        x-ms-summary: city
                  country:
                        type: string
                        description: country
                        x-ms-summary: country
                  firstnamephonetic:
                        type: string
                        description: firstnamephonetic
                        x-ms-summary: firstnamephonetic
                  lastnamephonetic:
                        type: string
                        description: lastnamephonetic
                        x-ms-summary: lastnamephonetic
                  middlename:
                        type: string
                        description: middlename
                        x-ms-summary: middlename
                  alternatename:
                        type: string
                        description: alternatename
                        x-ms-summary: alternatename
                  customfields:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: type
                          x-ms-summary: type
                        value:
                          type: string
                          description: value
                          x-ms-summary: value

      consumes:
      - application/json
      - application/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: "OK"
        400:
          description: "Bad Request"

securityDefinitions:
  api_key:
    type: apiKey
    in: header
    name: Authorization
